<td>
  <%= link_to user.email, user %>
</td>
<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, Role.all.map {|role| [role.name.titleize,role.name]}, selected: user.role.name ) %>
    <%= f.submit t('users.edit_role'), class: 'button-xs' %>
  <% end %>
</td>
<td>
  <%= link_to(t('crud.destroy'), user_path(user), :data => { :confirm => t('crud.confirm') }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>
