<h1><%= t('.visualize') %></h1>

<p id="notice"><%= notice %></p>

<%= render 'form', readonly: true %>

<%= link_to t('crud.edit'), edit_admin_post_path(@post), class: 'btn btn-primary' %>
<%= link_to t('crud.back'), admin_posts_path, class: 'btn btn-default' %>
