<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to(t('layout.users'), users_path) %></li>
        <li><%= link_to(t('layout.posts'), posts_path) %></li>

      </ul>
      <%= render 'devise/menu/login_items' %>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<% if notice %>
<div class="alert alert-success">
  <p class="notice"><%= notice %></p>
</div>
<% end %>
<% if alert %>
<div class="alert alert-danger">
  <p class="alert"><%= alert %></p>
</div>
<% end %>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
